.menu-explore {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: auto;
}

.menu-ingredients {
margin: 10px 0 55px;
}

.explore-recipe {
  border-radius: 10px;
  height: 70px;
  margin: 10px;
  background-color:white;
  font-size: 20px;
}

.ingredient-button {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 7px 0;
  width: 100%;
}

.ingredient-button p {
  margin: auto;
  font-size: 20px;
}

.menu-ingredients ul{
  padding: 0;
  list-style-type: none;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
