.favorites-container {
  height: 90vh;
  padding: 20px 0 70px;
  position: relative;
  top: 60px;
  width: 100%;
}

.favorite-recipes-menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  justify-content: center;
  justify-content: space-around;
  margin: auto;
  width: 70%;
}

.favorite-recipes-menu button {
  background-color: #efefef;
  border: none;
  border-radius: 100px;
  color: black;
  margin: 3px;
  min-width: 60px;
  padding: 1px 7px;
}

.recipe-fav-img {
  border-radius: 10px;
  filter: drop-shadow(2px 2px 2px #585858);
  width: 120px;
}

.favorite-text {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
}

.favorite-text h4 {
  height: 30px;
  justify-content: stretch;
}
