.recipes-container {
  align-items: center;
  color: white;
  margin-left: 18%;
  margin-top: 20px;
  width: 100%;
}

.recipes-container h1[ data-tesid = 'recipe-title' ] {
  display: flex;
  margin-left: 20px;
}

.recipes-container img[ alt = 'imagem-da-receita' ] {
  border: 5px solid rgba(68, 66, 66, 0.664);
  height: 50%;
  margin-left: 7%;
  margin-top: 10px;
  width: 50%;
}

.recipes-name {
  background-color: rgba(92, 86, 86, 0.596);
}

.recipes-checkbox {
  background-color: rgba(92, 86, 86, 0.596);
  color: white;
  margin-bottom: 5%;
}

.recipes-container button[ data-testid = 'finish-recipe-btn' ] {
  border-radius: 10px;
  margin-bottom: 10%;
}
