.fixedbottom {
  background-color: white;
  border-top: solid 1px lightgray;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  position: fixed;
  width: 360px;
  z-index: 40;
}

footer img {
  height: 30px;
}
