.header {
  align-items: flex-start;
  background-color: rgba(69, 69, 73, 0.8);
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
  width: 134%;
}

.header button[ type = 'button' ] {
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 4%;
  margin-top: 0.5%;
}
