.header {
  align-items: center;
  background-color: white;
  display: flex;
  border-bottom: solid 1px lightgray;
  justify-content: space-between;
  padding: 10px 20px 5px;
  position: fixed;
  top: 0; 
  left: 0;
  width: 360px;
  z-index: 40;
}

.header-button {
  align-items: center;
  border-radius: 10px;
  border: none;
  display: flex;
  background-color: white;
  height: 35px;
  width: 35px;
  justify-content: center;
}

.header-button img {
  height: 20px;
}

.page-title {
  font-size: 20px;
  display: flex;
  flex-grow: 2;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
}
