/* body {
  background-color: rgb(46, 42, 42);
  background-image: url('../images/wallPaper_2.jpg');
  background-size: cover;
  font-family: Comfortaa , sans-serif;
  margin: 0;
  max-width: 360px;
  padding: 0;
} */

/* body {
  display: flex;
  height: 640px;
  width: 360px;
  background-image: url('../images/wallPaper_2.jpg');
  background-size: cover
} */

/* header {
  color: white;
  display: flex;
  font-size: 10%;
  letter-spacing: 10%;
  margin-left: 0%;
  text-align: center;
  text-transform: uppercase;
  width: 300%;
} */

/* header h1 {
  background-color: rgba(69, 69, 73, 0.8);
  margin-top: 20px;
} */

.container-login {
  align-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-main {
  align-items: center;
  background-color: rgba(69, 69, 73, 0.8);
  border: 2px solid black;
  border-radius: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 70%;
}

.login-title {
  font-size: 25px;
  letter-spacing: 10px;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 15px;
  text-transform: uppercase;
}

.login-main img {
  background-color: white;
  border-radius: 50%;
  margin-top: 25px;
  width: 80px;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-main p {
  display: flex;
  justify-content: center;
  margin: 0;
}

.login-main input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 10px;
  color: white;
  display: flex;
  margin: auto;
  font-size: 16px;
  height: 40px;
  margin-bottom: 2%;
  outline: none;
  width: 80%;
}

.login-main button {
  border: none;
  border-radius: 20px;
  color: black;
  height: 35px;
  margin: auto;
  margin-top: 15px;
  width: 100px;
}
