.menu-made-recipes {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: -5%;
  margin-top: 10px;
  width: 100%;
}

.menu-made-recipes button[ type = 'button' ] {
  align-items: center;
  border-radius: 10px;
  height: 30px;
  margin-left: 15%;
  margin-right: 10px;
  margin-top: 8px;
  width: 130px;
}

.cards-recipe-made {
  background-color: rgba(69, 69, 73, 0.8);
  border: 1% solid rgba(0, 0, 0, 0.125);
  box-shadow: var(--box-shadow);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 5%;
  margin-top: 20%;
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  width: 100%;
  margin-left: -100%;
}

.recipe-img {
  margin-top: 5%;
}