.made-recipes-container {
  position: relative;
  top: 60px;
  padding: 20px 0 70px;
  width: 100%;
}

.made-recipes-menu {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 14px;
}

.made-recipes-menu button {
  border-radius: 100px;
  background-color: #efefef;
  padding: 1px 7px;
  border: none;
  margin: 3px;
  min-width: 60px;
  color: black;
}

.cards-recipe-made {
  background-color: #f9f9f9;
  filter: drop-shadow(0 1px 1px #d4d4d4);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin: 15px;
  text-align: center;
  align-items:center;
}

.recipe-made-text {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.recipe-made-link-share {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  align-items:baseline;
}

.horizontal-top-text {
  font-size: 14px;
}

.horizontal-name {
  flex-grow: 1;
  color: black;
}

.horizontal-name h2{
  color: black;
  font-size: 18px;
}

.horizontal-done-date {
  font-size: 12px;
}

.recipe-made-img {
  width: 120px;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 2px #585858);
}
