.menu-container {
  position: relative;
  top: 70px;
  padding-bottom: 15px;
}

.menu-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0 15px 0;
  font-size: 14px;
}

.filter-categories-btn {
  background-color: white;
  padding: 0 24px;
  margin: 1px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  font-size: 17px;
  color: black;
  z-index: 1;
}

.recipe-filter-selected {
  background-color: brown;
  color: white;
}
