/* .menu-categories {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 18%;
  margin-top: 10px;
  width: 100%;
}

.menu-categories button[ type = 'button' ] {
  border-radius: 10px;
  margin-left: 0%;
  margin-right: 1%;
  width: auto;
} */
