.profile-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
  position: relative;
  top: 70px;
}

.profile-img {
  border: 2px solid black;
  border-radius: 100px;
  filter: drop-shadow(1px 1px 1px black);
  height: 80px;
  margin: 20px;
  padding: 5px 0;
  width: 80px;
}

.profile-container h3 {
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
}

.profile-btn-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-btn {
  align-items: center;
  background-color: #f9f9f9;
  border: none;
  border-radius: 10px;
  filter: drop-shadow(1px 2px 2px lightgray);
  margin: 10px;
  padding: 3px;
  width: 150px;
}

.sair-btn {
  background-color: brown;
  color: white;
}
