.recipes-container {
  background-color: rgba(92, 86, 86, 0.596);
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 15px;
  width: 100%;
}


.recipes-checkbox {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}


.finish-recipe-btn {
  background-color: gainsboro;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.container-finish-btn {
  display: flex;
  justify-content: center;
}

.list-checkbox {
  font-size: 12px;
}
