.cards-section {
  /* background: chartreuse; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 1200px;
  height: 1400px;
  margin-left: 85px;
}
.cards {
  background-color: rgb(92, 86, 86);
  border: 5px solid rgba(0, 0, 0, 0.125);
  /* border-radius: 80px 0px 80px 0px; */
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  width: auto;
  outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.card:hover {
  outline: var(--outline-hover);
    outline-offset: 0rem;
}

.card-link {
  text-decoration: none;
  display: flex;
  margin-left: 13px;
  align-items: center;
  height: 144px;
}

/* #card-image {
  border-radius: 80px 0px 80px 0px;
} */