.in-progress-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding-bottom: 70px;
  width: 100%;
}

.in-progress-header-recipe {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 20px;
}

.recipe-detail {
  padding: 0 20px;
  text-align: justify;
}

.finish-recipe-btn:disabled {

  /* background-color: gainsboro; */

  /* border: none; */

  /* border-radius: 4px; */

  /* bottom: 50px; */

  /* font-size: 19px; */

  /* width: 100%; */

  /* position: fixed; */

  /* z-index: 1; */
  display: none;
}

.finish-recipe-btn:enabled {
  background-color: rgb(4, 170, 107);
  border: none;
  border-radius: 4px;
  bottom: 50px;
  color: white;
  font-size: 19px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.list-checkbox {
  font-size: 15px;
  list-style-type: none;
}

.texto-riscado {
  text-decoration: line-through;
}

.recipe-page-btn {
  margin: 5px;
}
