.recipe-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 15px 100px;
  width: 100%;
}

.header-recipe {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.header-recipe-title h1 {
  font-size: 18px;
}

.header-recipe-title h4 {
  color: silver;
  font-size: 16px;
}

.header-recipe-btn {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  width: 90px;
}

.recipe-img {
  height: 180px;
  object-fit: cover;
  width: 100%;
}

.recipes-detail {
  font-size: 15px;
  text-align: justify;
}

.recipes-detail h2 {
  font-size: 18px;
}

.video-title {
  font-size: 18px;
}

.recipe-page-btn {
  background: transparent;
  border: none;
  border-radius: 16px;
  padding: 10px;
}

.start-recipe-btn {
  background-color: rgb(4, 170, 107);
  border: none;
  border-radius: 4px;
  bottom: 50px;
  color: white;
  font-size: 18px;
  position: fixed;
  width: 100%;
  z-index: 41;
}

.favorite-btn-img {
  height: 20px;

  /* filter: invert(100%); */
}

.recomendation-title {
  font-size: 18px;
}

.recomendation-card-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.carousel-btn {
  background-color: white;
  border: none;
  height: 50px;
  width: 25px;
}

.link-copiado {
  color: black;
  display: flex;
  font-size: 18px;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  top: 80%;
  width: 100%;
}

.link-copiado p {
  background-color: rgba(252, 252, 252, 0.95);
  border-radius: 8px;
  filter: drop-shadow(1px 1px 1px #585858);
  padding: 3px 8px;
}

