.cards-section {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 60px;
  width: 85%;
}

.cards {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  margin: 5px;
  width: 140px;
}

.card-image {
  border-radius: 100px;

  /* border-radius: 100px; */
}

.card-title-overlay {
  align-items: flex-end;
  display: flex;
  height: 120%;
  justify-content: center;
}

.card-title {
  color: white;
  text-shadow: 1px 1px 2px black , 0 0 10em darkblue , 0 0 0.2em darkblue;
}

.card-title h4 {
  box-orient: vertical;
  display: box;
  font-size: 18px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
