.searchBar-container {
  background-color: rgba(92, 86, 86, 0.596);
  height: 100%;
  position: fixed;
  width: 360px;
  z-index: 2;
}

.search-bar {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 50px 5px  50px 50px;
  display: flex;
  flex-direction: column;
  height: 350px;
  margin: 30px;
  padding: 20px;
  position: fixed;
  top: 50px;
  width: 300px;
  z-index: 99;
}

.search-bar spam {
  font-size: 20px;
  padding: 5px;
}

.search-input {
  border-radius: 10px;
  outline: none;
  width: 200px;
}

.radio-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: space-around;
  margin: 10px;
}

.radio-container label {
  align-items: baseline;
  display: flex;
}

.radio-container p {
  padding: 5px;
}

.searchbar-btn-container {
  display: flex;
}

.search-btn {
  align-items: center;
  background-color: green;
  border: none;
  border-radius: 5px;
  display: flex;
  filter: drop-shadow(1px 1px 1px lightgray);
  height: 35px;
  justify-content: center;
  margin-right: 10px;
}

.search-btn-cancel {
  background-color: lightcoral;
}

